.p-accordion {
  .p-accordion-tab {
    margin-bottom: 0rem !important;
  }

  box-shadow: none;
  .p-accordion-header {
    margin-bottom: 0px !important;
    .p-accordion-header-link {
      padding: 10px !important;
    }
    a {
      .p-accordion-toggle-icon {
        color: var(--primary-color-text) !important;
      }
      color: var(--primary-color-text) !important;
      background-color: var(--primary-color) !important;
      border: solid 1px var(--primary-color) !important;
      box-shadow: none !important;

      &:hover {
        background-color: var(--primary-color-d) !important;
        border-bottom: var(--primary-color-d) solid 1px !important;
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
        color: var(--primary-color-text) !important;
      }
    }
  }
  .p-accordion-content {
    background-color: var(--surface-a);
    max-height: 700px;
    overflow-y: auto;
  }
}
