.p-card {
  box-shadow: 0 3px 3px 0 rgb(66 66 66 / 25%), 0 3px 5px 3px rgb(66 66 66 / 10%) !important;
  background-color: var(--surface-b);
  color: var(--text-color);
  border: 1px solid var(--surface-c);
}
