.p-fieldset {
  background: var(--surface-a) !important;
  border: 1px solid var(--primary-color) !important;
  .p-fieldset-legend {
  width: 45%;
  padding: 0.75rem;
  border: 1px solid var(--surface-a) !important;
  color: var(--text-color) !important;
  background: var(--surface-a) !important;
  font-weight: 400 !important;
  border-radius: 4px;
  text-align: center;
}
.p-fieldset-content {
  background: var(--surface-a) !important;
}


}
